body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

.background {
    background: url("loginbackground.jpg") no-repeat center center/cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f9;
    color: #777;
    font-size: 0.9em;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


button:hover {
    background-color: #184f8a;
    opacity: 1;
}

input[type="file"],
input[type="text"] {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


input, textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

input[type="range"] {
    width: 100%;
}

#progressValue {
    display: inline-block;
    margin-left: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table th, table td {
    padding: 0.8em;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #014b57;
    color: #fff;
}
