body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.background {
    background: url("loginbackground.jpg") no-repeat center center/cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f9;
    color: #777;
    font-size: 0.9em;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: 0 auto;
}


button:hover {
    background-color: #184f8a;
    opacity: 1;
}

input[type="file"],
input[type="text"] {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}



button:hover {
    background-color: #165fa7;
}

#statusResult {
    margin-top: 20px;
}

#statusResult h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#proposalStatus {
    font-size: 16px;
    color: #555;
} 