body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.background {
    background: url("../../images/loginbackground.jpg") no-repeat center center/cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f9;
    color: #777;
    font-size: 0.9em;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


button:hover {
    background-color: #184f8a;
    opacity: 1;
}

input[type="file"],
input[type="text"] {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* margin-bottom: 10px; */
}
.progress-tracking-card {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 800px;
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #222;
}

label {
    align-content: center;
    margin: 0%;
    text-align: center;
    margin: 0;
}
.student-selection {
    margin-bottom: 20px;
}

.student-selection label {
    font-size: 1.2rem;
    margin-right: 10px;
}

select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden {
    display: none;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #222;
    color: white;
}

.completed {
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;
}

.in-progress {
    background-color: #fff3cd;
    color: #856404;
    font-weight: bold;
}

.not-started {
    background-color: #f8d7da;
    color: #721c24;
    font-weight: bold;
}
