body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 700px;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    max-height: 100%;
    min-height: max-content;
}

.background {
    background: url("loginbackground.jpg") no-repeat center center/cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f9;
    color: #777;
    font-size: 0.9em;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


button:hover {
    background-color: #184f8a;
    opacity: 1;
}

input[type="file"],
input[type="text"] {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-results {
    margin-top: 20px;
    max-height: none;
    overflow-y: visible;
}

.search-results ul {
    list-style: none;
    padding: 0;
}

.search-results li {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.search-results li:hover {
    background-color: #f1f1f1;
}

.search-results img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0px;
}

.search-results a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.search-results a:hover {
    text-decoration: underline;
}

.container a {
    color: #007bff;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}
