* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.error-message-box {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    text-align: center;
    z-index: 1000;
}

.background {
    background: url("loginbackground.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    min-width: 320px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #222;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #222;
}

button.signup-btn {
    display: block;
    text-decoration: none;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 9px 0;
    margin: 10px auto;
    width: 100%;
    font-size: 1.0rem;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

button.signup-btn:hover {
    background-color: #555;
}

.back-btn {
    display: inline-block;
    text-decoration: none;
    background-color: #222;
    color: white;
    padding: 12px 30px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #555;
}